.about-content {
    border: solid gray;
    width: 43%;
}

.about-image {
    width: 56%;
    margin-left: -8rem;
    height: 83vh;
    z-index: -1;
}

.about-image > img {
    height: 100%;
}