.card{
    box-shadow: 0px 2px 6px 0 black;
}

.card > a > img{
    transform: scale(1);
    transition: all .3s;
}

.card:hover > a > img{
    transform: scale(.95);
}

#categoriesFilterSelect{
    width: 25%;
}

#searchBlock{
    width: 35%;
    display: flex;
    align-items: center;
    gap: .7rem;
}