nav{
    margin: auto;
    width: 77%;
    background-color: #ced4daa1;
    box-shadow: 0px 5px 11px 3px #000000c7;
}

#small-cercle{
    background-color: #ff4646;
    width: 1.2rem;
    height: 1.4rem;
    border-radius: 100%;
    position: absolute;
    top: 11px;
    right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.cart-icon-part{
    cursor: pointer;
}