.card{
    box-shadow: 0px 2px 6px 0 black;
}

.card img {
    transition: all .3s;
}

.card:hover img{
    transform: scale(.95);
}

hr {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  display: block;
}